


<md-card style="width: 850px;" ng-controller="cardController as ctrl">
	 <md-card-content>
		<div layout="row">
			<div layout="column" layout-align="center center">
				<md-button class="md-fab md-mini md-primary" aria-label="Mini FAB" style="background-color: #1199EE" data-toggle="modal" data-target=".bs-example-modal-sm" >
				  	<img src="img/arrow-up.svg" />
				</md-button>
				<h2 class="md-display-1" style="margin: 0px" >{{ctrl.cardIndex*2 + 10}}</h2>
				<md-button class="md-fab md-mini  md-primary" aria-label="Mini FAB" style="background-color: #1199EE" data-toggle="modal" data-target=".bs-example-modal-sm" >
				  	<img src="img/arrow-down.svg" />
				</md-button>

			</div>
			<div flex style="margin-left: 30px;">
				<h2 class="md-display-3">{{ctrl.data.title}}</h2>
	  		 	<p style="font-size: 120%">{{ctrl.data.description}}</p>
			</div>
			<div style="margin-left: 50px;" layout="column" layout-align="center center">
				<md-button aria-label="Use Android" id="{{ctrl.cardIndex}}" onclick="cool(this.id)">
         				<div layout="column" layout-align="center center" style="width: 120; height: 120;">
						<h2 class="md-display-3" style="margin: 0px; margin-top: -3px;" >{{ctrl.data.ranking}}</h2>
						<h2 class="md-display-1" style="margin: 0px; margin-top: -3px;" >Libis</h2>
					</div>
        			</md-button>
			</div>
		</div>
		<div id="card_details_{{ctrl.cardIndex}}" style="height: 350px;margin-top:50px; display:none">
			<div layout="row">
				<div flex>
					<div layout="column" layout-align="center center">
						<img id="linkedin_logo_{{ctrl.cardIndex}}" src="img/linkedin.png" style="display: block; margin: auto auto;" />
						<h2 class="md-display-3">9.3</h2>
						<table class="table" >
							<tr>
								<td><img src="img/jobs.svg" /></td>
								<td>Jobs</td>
								<td>{{ctrl.data.linkedInStats.jobs}}</td>
							</tr>
							<tr>
								<td><img src="img/endo.svg" /></td>
								<td>Endorsements</td>
								<td>{{ctrl.data.linkedInStats.endorsements}}</td>
							</tr>
							<tr>
								<td><img src="img/group.svg" /></td>
								<td>Groups</td>
								<td>{{ctrl.data.linkedInStats.jobs}}</td>
							</tr>
						</table>
						<span></span>
					</div>
				</div>
				<div flex>
					<div layout="column" layout-align="center center">
						<img id="meetup_logo_{{ctrl.cardIndex}}" src="img/meetup.png" style="display: block; margin: auto auto;" />
						<h2 class="md-display-3">5.9</h2>	
						<table class="table" >
							<tr>
								<td><img src="img/events.svg" /></td>
								<td>Events</td>
								<td>{{ctrl.data.eventsStats.events}}</td>
							</tr>
							<tr>
								<td><img src="img/group.svg" /></td>
								<td>Groups</td>
								<td>{{ctrl.data.eventsStats.groups}}</td>
							</tr>
						</table>
						<span></span>
					</div>
				</div>
				<div flex>
					<div layout="column" layout-align="center center">
						<img id="github_logo_{{ctrl.cardIndex}}" src="img/github.png" style="display: block; margin: auto auto;" />
						<h2 class="md-display-3">7.7</h2>
						<table class="table" >
							<tr>
								<td><img src="img/contributers.svg" /></td>
								<td>Contributers</td>
								<td>{{ctrl.data.githubStats.contributors}}</td>
							</tr>
							<tr>
								<td><img src="img/watch.svg" /></td>
								<td>Watchers</td>
								<td>{{ctrl.data.githubStats.watchers}}</td>
							</tr>
							<tr>
								<td><img src="img/fork.svg" /></td>
								<td>Forks</td>
								<td>{{ctrl.data.githubStats.forks}}</td>
							</tr>
							<tr>
								<td><img src="img/issues.svg" /></td>
								<td>Issues</td>
								<td>{{ctrl.data.githubStats.openIssues}}</td>
							</tr>
						</table>
						<span></span>
					</div>
				</div>
				<div flex>
					<div layout="column" layout-align="center center">
						<img id="sof_logo_{{ctrl.cardIndex}}" src="img/stackoverflow.png" style="display: block; margin: auto auto;" />
						<h2 class="md-display-3">8.3</h2>
						<table class="table" >
							<tr>
								<td><img src="img/question.svg" /></td>
								<td>Questions</td>
								<td>{{ctrl.data.stackStats.questions}}</td>
							</tr>
							<tr>
								<td><img src="img/answer.svg" /></td>
								<td>Answers</td>
								<td>{{ctrl.data.stackStats.answers}}</td>
							</tr>
						</table>
						<span></span>
					</div>
				</div>
			</div>
		</div>
	</md-card-content>
</md-card>

</div>
</body>
</html>
