<nav class="navbar navbar-default">
    <div class="navbar-header" style="margin-top: -5px;" >
        <a class="navbar-brand" href="#">
            <span><img style="height: 30px; width: 30px;" src="img/logo.png"/></span>
            Libify
        </a>
    </div>
</nav>


<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Login with your Stack Exchange to vote</h4>
      </div>
      <div class="modal-body">
        <img src="img/sec.png" style="margin: 30px;" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Maybe later</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div  layout="column" layout-align="center center" ng-init="ctrl.init()" ng-controller="ResultController as ctrl">
  <div ng-repeat="result in ctrl.results track by $index">
      <card-control></card-control>
</div>
</div>
