  

  <div class="header"></div>
  <div class="search_container">
  <div class="text-center"><img src="img/logo.png"/></div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 text-center brand">Libify</div>
  </div>
<!--

  -->
  <div  layout="row" layout-align="center center"  ng-controller="SearchController as ctrl">

 <md-chips flex="50"  style="font-size:25px;"
        ng-model="ctrl.tags"
        readonly="ctrl.readonly"
        delete-button-label="Remove Tag"
        delete-hint="Press delete to remove tag"
        secondary-placeholder="Enter a tag">

      <md-autocomplete
          md-selected-item="ctrl.selectedItem"
          md-search-text="ctrl.searchText"
          md-items="item in ctrl.querySearch(ctrl.searchText)"
          md-item-text="item"
          placeholder="Enter a tag">
        <span md-highlight-text="ctrl.searchText">{{item}}</span>
      </md-autocomplete>

</md-chips>
 <md-button ng-click="ctrl.search()" style="margin-left:30px; background-color: #1199EE;" class="md-raised md-primary">Search</md-button>
  </div>

  </div>
